@import _root_.fr.watchnext.utils.views.ModelDisplay;
@(modelDisplay: ModelDisplay, newlink: () => Html, editlink: (Long) => Html, body: Html = Html(""))

@import fr.watchnext.utils.tags._

<div class="container">
  	<div class="row display">
    	<div class="col-xs-12">
    		<h1>@html_enhanced_messages(modelDisplay.getLabelKey+".title", "Displaying object")</h1>

		@if(newlink != null) {
	    <div class="row display">
	    	<div class="col-xs-12">
				<a type="button" class="btn btn-default" href="@newlink()"><span class="glyphicon glyphicon-edit"></span>@html_enhanced_messages(modelDisplay.getLabelKey+".action.new", "New")</a>
	    	</div>
	    </div>
    	}
  
		@for(currentField <- modelDisplay.getFields) {
	    <div class="row display @currentField.getRenderingOption">
      		<div class="col-xs-12 @if(currentField.hideSmall) {hidden-xs}">
				<span class="display-label">@enhanced_messages(currentField.getKey, currentField.getFieldName.capitalize)</span>&nbsp;:&nbsp;<span class="display-value">@display_field(currentField.display, currentField.getRenderingOption)</span> 
			</div>
	    </div>      	
		}
  </div>
  
  @body
