@import _root_.fr.watchnext.utils.views.PageDisplay;
@(pageDisplay: PageDisplay[_], link: (Int, String, String, String, Int) => Html, displaylink: (Long) => Html, editlink: (Long) => Html, optionallink: (Long) => Html, newlink: () => Html, currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer, actionlink: () => Html, beforeTableHtml: Html = Html(""), afterTableHtml: Html = Html(""))
@import fr.watchnext.utils.tags._
@import scala._
@****************************************
* Helper generating navigation links    *
****************************************@
@createlink(newPage:Int, newSortBy:String, newPageSize:Int, sortOrder: String) = @{
    
    var sortBy = currentSortBy
    var order = sortOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(sortOrder == "asc") {
            order = "asc"
        } else {
            order = "desc"
        }
    }
    
    // Generate the link
    link(newPage, sortBy, order, currentFilter, newPageSize)
    
}


@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String, hideSmall: Boolean = false) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"} @if(hideSmall) {hidden-xs}">
    	@if("".equals(key)) {
    		@title
    	} else {
    		@if(currentSortBy == key && currentOrder == "desc") {
        		<span class="glyphicon glyphicon-chevron-down"></span>
        	} else {
        		<a href="@createlink(0, key, currentSize, "desc")"><span class="glyphicon glyphicon-chevron-down"></span></a>
        	} 
        	@if(currentSortBy == key && currentOrder == "asc") {
        		<span class="glyphicon glyphicon-chevron-up"></span>
        	} else {
        		<a href="@createlink(0, key, currentSize, "asc")"><span class="glyphicon glyphicon-chevron-up"></span></a>
        	}
        	@title
        }
    </th>
}

@sortColor(key: String) = {
	@if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}
}


@**********************************
* Displays action link			  *
***********************************@
@action() = {
	@if(actionlink != null) {
	<div class="row row-action">
  			<div class="col-xs-12 text-center">
  				<a class="btn btn-warning" href="@actionlink()"><span class="glyphicon glyphicon-refresh"></span>@html_enhanced_messages(pageDisplay.getLabelKey+".action", "Action")</a>
  			</div>
  	</div>
  	}
}


@createnewlink() = {@if(newlink != null) {@newlink().toString}}

  <div class="container page">
    
	<div class="row row-title">
    	<div class="col-xs-12">
    		<h1>@html_enhanced_messages(pageDisplay.getLabelKey+".title", "Displaying items")</h1>
    	</div>
    </div>
    
    @beforeTableHtml
    
    @action()

    @page_header(createlink(0, pageDisplay.defaultSortingField, currentSize ,currentOrder).toString, pageDisplay.filterByLabel, currentFilter, createnewlink().toString.trim)


    @if(pageDisplay.getPage.getTotalRowCount == 0) {
        <div class="well">
            <em>@enhanced_messages(pageDisplay.getLabelKey+".nothing.to.display", "Nothing to display")</em>
        </div>
    } else {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  @for(currentTableField <- pageDisplay.getTableFields) {
                  	@header(currentTableField.dbField, enhanced_messages(pageDisplay.getLabelKey+"."+currentTableField.labelKey.toLowerCase.replace("_","."), currentTableField.labelKey.toLowerCase, false).toString, currentTableField.hideSmall)
                  	<!-- @{pageDisplay.getLabelKey}.@{currentTableField.labelKey.toLowerCase.replace("_",".")} -->
                  }
                </tr>
              </thead>
              <tbody>
              @for((currentLine, index) <- pageDisplay.getPage.getList.zipWithIndex) {
                <tr @if(pageDisplay.hasClass) {class="@pageDisplay.getClassByIndex(index)"}>
                  <td>
	                @if(displaylink != null) {<a type="button" class="btn btn-default btn-xs" href="@displaylink(pageDisplay.getIdByIndex(index))"><span class="glyphicon glyphicon-user"></span></a>}
	                @if(editlink != null) {<a type="button" class="btn btn-primary btn-xs" href="@editlink(pageDisplay.getIdByIndex(index))"><span class="glyphicon glyphicon-edit"></span></a>}
	                @if(optionallink != null) {<a type="button" class="btn btn-info btn-xs" target="_blank" href="@optionallink(pageDisplay.getIdByIndex(index))"><span class="glyphicon glyphicon-new-window"></span></a>}
                  </td>
                  @for(currentField <- pageDisplay.getTableFields) {
	                <td class="@if(currentField.hideSmall) {hidden-xs}@sortColor(currentField.dbField)">
	                	@display_field(pageDisplay.display(currentLine, currentField.fieldAccessorMethod), currentField.renderingOption)
                  	</td>
                  }
                </tr>
              }
              </tbody>
            </table>
        </div>
    
        <div class="row row-navigate">
        	<div class="col-md-5 text-left">
        	        @for(size <- List(10,20,30,50,100,-1)) {
	                    @if(currentSize != size) {
	                        <span class="prev">
	                            <a class="btn btn-default" href="@createlink(0, null, size, currentOrder)">@if(size == -1) {@enhanced_messages("admin.page.text.display.all", "All")} else {@size}</a>
	                        </span>
	                    } else {
	                        <span class="prev disabled">
	                            <a class="btn btn-default" disabled="disabled">@if(size == -1) {@enhanced_messages("admin.page.text.display.all", "All")} else {@size}</a>
	                        </span>
	                    }
	                }
            </div>
        
            <div class="col-md-5 col-md-offset-2 text-right">
                    @if(pageDisplay.getPage.hasPrev) {
                        <span class="prev">
                            <a class="btn btn-default" href="@createlink(pageDisplay.getPage.getPageIndex - 1, currentSortBy, currentSize, currentOrder)">@html_enhanced_messages("admin.page.text.display.previous", "&larr; Previous")</a>
                        </span>
                    } else {
                        <span class="prev disabled">
                            <a class="btn btn-default" disabled="disabled">@html_enhanced_messages("admin.page.text.display.previous", "&larr; Previous")</a>
                        </span>
                    }
                    <span class="current">
                        @enhanced_messages("admin.page.text.display.range", "Displaying") @pageDisplay.getPage.getDisplayXtoYofZ(enhanced_messages("admin.page.text.display.range.to", " to ", false).toString,enhanced_messages("admin.page.text.display.range.out.of", " of ", false).toString)
                    </span>
                    @if(pageDisplay.getPage.hasNext) {
                        <span class="next">
                            <a class="btn btn-default"  href="@createlink(pageDisplay.getPage.getPageIndex + 1, currentSortBy, currentSize, currentOrder)">@html_enhanced_messages("admin.page.text.display.next", "Next &rarr;")</a>
                        </span>
                    } else {
                        <span class="next disabled">
                            <a class="btn btn-default" disabled="disabled" >@html_enhanced_messages("admin.page.text.display.next", "Next &rarr;")</a>
                        </span>
                    }
            </div>
        </div>
        
       	@action()
       	
       	@afterTableHtml
    }
    </div>